PORT=8082
REQUEST_BODY_LIMIT=8mb
LOG_REQUEST_BODIES=false
GT_APICORE_URL=https://api.greattime.app/apicore
GT_REQUEST_TIMEOUT_MS=12000
GT_CATALOG_CACHE_TTL_MS=300000
GT_PREVIEW_CACHE_TTL_MS=900000
GT_IDEMPOTENCY_TTL_MS=3600000
DEFAULT_TIMEZONE=Asia/Yangon
STT_PROVIDER=stub
LLM_PROVIDER=heuristic
ENABLE_DEBUG_LOGS=false
